*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  background-color: #042069;
}

.grid div {
  width: 100px;
  height: 100px;
  background-color: #420a55;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: #b00b69;
}
